<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      ติดต่อ Admin
      <img
        style="height: 50px; padding: 0px !important"
        src="/assets/icon/line.png"
      />
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="false" [options]="slideOpts">
    <ion-slide background-size>
      <ion-card >
        <p>หวยรัฐบาล</p>
      </ion-card>
    </ion-slide>
    <ion-slide background-size>
      <ion-card >
        <p>หุ้นไทย</p>
      </ion-card>
    </ion-slide>
    <ion-slide background-size>
      <ion-card >
        <p>หุ้นไทย</p>
      </ion-card>
    </ion-slide>
    <ion-slide background-size>
      <ion-card >
        <p>หุ้นไทย</p>
      </ion-card>
    </ion-slide>
    <ion-slide background-size>
      <ion-card >
        <p>หุ้นไทย</p>
      </ion-card>
    </ion-slide>
    <ion-slide background-size>
      <ion-card >
        <p>หุ้นไทย</p>
      </ion-card>
    </ion-slide>
    <ion-slide background-size>
      <ion-card >
        <p>หุ้นไทย</p>
      </ion-card>
    </ion-slide>
    <ion-slide background-size>
      <ion-card >
        <p>หุ้นไทย</p>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="welcome-card" style="background-color: #94bdff;">
          <img src="/assets/icon/Huay_logo.svg" alt="" />
          <ion-card-header text-center>
            <ion-card-subtitle>หวยยี่กี เว็บหวย</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col size="6">
                <ion-button expand="block">สมัครสมาชิก</ion-button>
              </ion-col>
              <ion-col size="6">
                <ion-button expand="block" (click)="onClickResult()">ดูสูตร</ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card class="welcome-card" style="background-color: #a51015;">
          <img src="/assets/icon/lotto_vip.png" alt="" />
          <ion-card-header text-center>
            <ion-card-subtitle>หวยยี่กี เว็บ Lotto VIP</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col size="6">
                <ion-button expand="block">สมัครสมาชิก</ion-button>
              </ion-col>
              <ion-col size="6">
                <ion-button expand="block" (click)="onClickResult()">ดูสูตร</ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card class="welcome-card" style="background-color: #221535;">
          <img src="/assets/icon/MAWIN_LOGO_Main.png" alt="" />
          <ion-card-header text-center>
            <ion-card-subtitle>หวยยี่กี เว็บมาวิน</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col size="6">
                <ion-button expand="block">สมัครสมาชิก</ion-button>
              </ion-col>
              <ion-col size="6">
                <ion-button expand="block">ดูสูตร</ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card class="welcome-card" style="background-color: #744510;">
          <img src="/assets/icon/choke.png" alt="" />
          <ion-card-header text-center>
            <ion-card-subtitle>หวยยี่กี เว็บโชค 77</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col size="6">
                <ion-button expand="block">สมัครสมาชิก</ion-button>
              </ion-col>
              <ion-col size="6">
                <ion-button expand="block">ดูสูตร</ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card class="welcome-card" style="background-color: #071b3c;">
          <img src="/assets/icon/yvip.png" alt="" />
          <ion-card-header text-center>
            <ion-card-subtitle>หวยยี่กี เว็บ yikeevip</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col size="6">
                <ion-button expand="block">สมัครสมาชิก</ion-button>
              </ion-col>
              <ion-col size="6">
                <ion-button expand="block">ดูสูตร</ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
